[submodule ".config/p10k"]
	path = .config/p10k
	url = git@github.com:romkatv/powerlevel10k.git
[submodule ".local/share/tmux/plugins/tpm"]
	path = .local/share/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
